.hero {
	min-height: 35vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&__wave {
		background-image: url("../assets/wave.svg");
		min-height: 100px;
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		margin-top: -50px;
	}
}
